*{
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
body{
  min-width: 100vw;
  min-height: 100vh;
}
ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ol li{
  list-style-type: decimal;
}
.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}
.flex{
  display: flex;
  gap: 10px;
  align-items: center;
}
.title-index{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
  width: 100vw;
  color: #1F4E3C;
}
.navbar-brand{
  display: flex;
  align-items: center;
  justify-content: start;
}
.navbar-brand img{
  width: 45px;
  height: auto;
}
.navbar button{
  width: 83px;
  height: 35px;
  border: none;
  color: white;
  border-radius: 5px;
}
.main-foot h1{
  font-size: 32px;
  font-weight: 600;
  color: white;
}
.main-foot i{
  color: white;
}
.main-foot .fab, .fas::before{
  font-size: 26px;
}
.footer-link{
  font-size: 15px;
}
.footer-link h4{
  font-size: 15px;
  color: #27AE60;
  margin-bottom: 15px;
}
.footer-link li{
  margin-bottom: 5px;
}
.footer-link a{
  font-size: 15px;
  color: #BDBDBD;
  text-decoration: none;
  font-weight: 500;
}
.footer-link a:hover{
  color: white;
}
.footer-content{
  display: flex;
}
.footer-left{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-right: 20px;
}
.footer-left p{
  text-align: center;
  color: white;
  font-weight: 500;
}
.footer-right{
  width: 80%;
  border-left: 1px solid white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.kontak h2{
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
}
.kontak i {
  overflow-y: hidden;
}
.copyright{
  height: 65px;
}
.copyright h4{
  font-size: 14px;
  font-weight: 600;
}
.profile{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.profile img{
  width: 35px;
  height: 35px;
  object-fit: contain;
  border-radius: 50%;
}
.profile > p{
  margin: 0;
}
.content-profile{
  width: 100vw;
  position: fixed;
  z-index: 2000;
  display: flex;
  justify-content: end;
  top: 70px;
  margin: 0px auto;
}
.detail-content-profile{
  display: flex;
  justify-content: end;
}
.box-profile{
  background-color: white;
  width: 180px;
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.box-profile .logout{
  margin-top: 15px;
}
.box-profile .logout button{
  background-color: transparent;
}
.box-profile a {
  text-decoration: none;
}
.box-profile p {
  margin: 0;
}
.swal2-container .swal2-title{
  font-size: 28px;
}
.swal2-container .swal2-html-container{
  font-size: 14px;
  color: red;
}
.form-data{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.form-data label{
  margin-left: 0px;
  margin: 20px 0px 10px 5px;
  font-size: 16px;
  font-weight: 700;
}
.form-data input{
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
}
.form-data textarea{
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
}
.form-data button{
  width: 150px;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
.delete-confirm{
  background-color: transparent;
  border: none;
  padding: 0px 0px 0px 0px;
}
.nonaktif-confirm{
  width: 180px;
  background-color: transparent;
  border: none;
  padding: 0px;
}
.delete-komentar-confirm{
  background-color: transparent;
  border: none;
  padding: 0px;
}

@media (max-width:425px) {
  nav{
    padding: 15px 0px;
  }
  .navbar-toggler{
    display: flex;
    justify-content: end;
    overflow: hidden;
  }
  .footer-content{
    display: block;
  }
  .footer-left{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;  
  }
  .footer-left p{
    text-align: center;
    color: white;
    font-weight: 500;
  }
  .footer-right{
    width: 80%;
    border-left: 0px;
    padding: 20px 40px;
    display: block;
    justify-content: space-between;
  }
  .kontak{
    margin-top: 20px;
  }
  .kontak h2{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
  }
  .kontak i {
    overflow-y: hidden;
  }
}

/* Index */

.hero{
  background-image: url('../img/hero.png');
  background-size: cover;
  background-repeat: none;
  width: 100vw;
}
.hero-desc{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero h1{
  font-size: 60px;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
.hero h1 span{
  color: #FA9B0D;
}
.hero p{
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 40px;
  text-align: center;
}
.hero button{
  width: 200px;
  height: 58px;
  font-size: 20px;
  font-weight: 600;
  border: solid 2px #A4C763;
  margin: 0px auto;
}
.card-group{
  background-image: url('../img/card-bg.png');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  width: 100vw;
  padding: 100px 0px;
  /* height: 80vh; */
}
.card img{
  width: 100%;
  height: 290px;
  object-fit: cover;
}
.contains{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0px auto;
}
.card-landing {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tentang{
  padding: 100px 0px;
}
.tentang-content{
  display: flex;
}
.tentang-left{
  width: 40%;
}
.tentang-right{
  width: 50%;
}
.tentang p{
  text-align: justify;
}
.tentang h5{
  font-size: 24px;
  font-weight: 600;
}
.tentang td{
  vertical-align: top;
  padding-right: 10px;
  text-align: justify;
}
.fitur{
  padding: 100px 0px;
  background-color: #F3F4F6;
}
.card-fitur{
  border: 2px solid #1F4E3C;
  padding: 30px;
  border-radius: 10px;
}
.img-fitur{
  width: 40px;
  margin-left: 10px;
}
.card-fitur h5{
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}
.card-fitur p{
  font-size: 14px;
  margin-bottom: 50px;
  text-align: justify;
}

@media (max-width:1400px){
  .card img{
    height: 220px;
    object-fit: cover;
  }
  .card-landing{
    height: 100px;
  }
}
@media (max-width:425px){
  .card-group{
    background-image: none;
  }
  .card img{
    height: 170px;
    object-fit: cover;
  }
  .hero h1{
    font-size: 45px;
  }
  .hero h1 span{
    color: #FA9B0D;
  }
  .hero p{
    font-size: 20px;
  }
  .tentang-content{
    display: block;
  }
  .tentang-left{
    width: 85%;
    margin: auto;
  }
  .tentang-left img{
    margin-bottom: 20px;
  }
  .tentang-right{
    width: 85%;
    margin: auto;
  }
  .card-fitur p{ 
    margin-bottom: 30px;
  }
}

/* Diagnosa */

label{
  font-size: 20px;
  margin-left: 10px;
}
.diagnosa-btn{
  background-color: #53B28E;
  width: 230px;
  height: 64px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}
.diagnosa-card h1{
  font-size: 45px;
}
.diagnosa-card h3{
  font: size 32px;
}
.hasil-diagnosa{
  background-color: #E6E6E6;
}
.main-deteksi{
  height: 70vh;
}
.hasil-footer{
  border-top: 2px solid #1F4E3C;
  background-color: #E6E6E6;
}

/* Forum */

.header-forum{
  width: 980px;
  display: flex;
  justify-content: space-between;
}
.search-form{
  width: 480px;
  margin-top: 20px;
  display: flex;
  justify-content: end;
}
.search-form input{
  font-size: 16px;
  padding: 8px 10px;
  margin: 0px;
}
.search-form button{
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
}
.btn-postingan{
  width: 500px;
  display: flex;
  gap: 40px;
}
.btn-postingan button{
  width: 220px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
  padding: 10px 0px;
}
.list-postingan{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 30px 0px;
}
.wrap-post{
  position: relative;
}
.card-postingan{
  position: relative;
  width: 980px;
  padding: 40px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;
}
.nonactive{
  position: absolute;
  width: 980px;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 4;
}
.text-nonactive{
  position: absolute;
  width: 980px;
  height: 100%;
  z-index: 8;
}
.text-nonactive h1{
  font-size: 32px;
  font-weight: 700;
  color: white;
}
.card-postingan h5{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}
.card-postingan h6{
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}
.card-postingan p {
  font-size: 13px;
  margin: 0;
}
.user-postingan{
  display: flex;
  gap: 10px;
  align-items: center;
}
.user-postingan img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.judul-postingan h5{
  margin-bottom: 10px;
}
.gambar-postingan img{
  width: 900px;
  height: auto;
}
.komentar .add-komentar{
  display: flex ;
  flex-direction: column;
  width: 500px;
}
.komentar .edit-komentar{
  display: none ;
  flex-direction: column;
  width: 500px;
}
.komentar input{
  border-top: 0px;
  border-bottom: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  font-size: 12px;
}
.komentar input:focus {
  outline: none;
}
.komentar form .btn-comment{
  width: 108px;
  color: white;
  background-color: #A4C763;
  font-size: 11px;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  padding: 7px 0px;
}
.detail-komentar{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.detail-komentar .tgl-komentar{
  font-size: 10px;
  color: #757575;
}
.accordion{
  cursor: pointer;
  transition: 0.4s;
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.bars-postingan{
  position: relative;
  z-index: 10;
}
.content-postingan{
  /* position: relative; */
  bottom: 30px; 
  display: none;
  justify-content: end;
  /* display: none; */
}
.detail-content-postingan{
  position:absolute;
  display: flex;
  justify-content: end;
}
.box-postingan{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  width: 180px;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}
.box-postingan a, .nonaktif-postingan a{
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: 600;
}
.box-postingan p {
  margin: 0;
}
.nonaktif-postingan{
  background-color: white;
  width: 250px;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.tambah-postingan h1{
  font-size: 40px;
  font-weight: 700;
  color: #1F4E3C;
  text-align: center;
  padding: 50px 0px;
}
.form-tambah-post button{
  background-color: #53B28E;
  width: 230px;
  height: 64px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

.content-komentar{
  /* position: relative; */
  bottom: 30px; 
  display: none;
  justify-content: end;
  /* display: none; */
}
.detail-content-komentar{
  position:absolute;
  display: flex;
  justify-content: end;
}
.box-komentar{
  background-color: white;
  width: 200px;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.box-komentar a{
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 600;
  display: flex;
  gap: 15px;
}
.box-komentar img{
  width: 18px;
  height: 18px;
}

/* Profile */

.hero-profile{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 350px ;
}
.main-profile{
  position: relative;
  left: 0;
  width: 100vw;
  height: calc(100vh - 65px);
}
.profile-data{
  width: 100%;
  margin-top: 120px;
  display: flex;
  gap: 20px;
}
.profile-data h6{
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
}
.profile-data p{
  margin-bottom: 40px;
}
.card-left{
  width: 350px;
  height: 700px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  gap: 15px;
}
.card-left img{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  object-fit: contain;
}
.card-left h1{
  font-size: 20px;
  font-weight: 700;
}
.card-left button{
  width: 150px;
  height: 50px;
  color: white;
  background-color: #1F4E3C;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
.card-right{
  width: 800px;
  height: 700px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.main-profile label{
  margin-left: 0px;
  margin: 20px 0px 10px 5px;
  font-size: 16px;
  font-weight: 700;
}
.main-profile input{
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
}
.main-profile textarea{
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.main-profile-update{
  position: relative;
  margin-top: 120px;
  left: 0;
  width: 100vw;
}
.card-update-profile{
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 40px 150px;
}
.card-update-profile h1{
  font-size: 40px;
  font-weight: 700;
  color: #1F4E3C;
  text-align: center;
}
.card-update-profile img{
  position: relative;
  left: 20px;
  width: 152px;
  height: 152px;
  object-fit: contain;
  border-radius: 50%;
}
.form-delete-foto button{
  width: 150px;
  height: 50px;
  color: white;
  background-color: #E80000;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}


@media(min-width: 768px){
  .navbar{
    height: 80px;
  }
  .nav-link{
    margin-left: 20px;
  }
  .hero-page{
    margin-top: 80px ;
  }
}


